<nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="height: 42px;">
  <div class="container-fluid">
    <!-- Navbar toggler button for small screens -->
    <span class="navbar-toggler-icon"></span>

    <!-- Navbar brand/logo -->
    <a class="navbar-brand" href="#">PrimeRx Enterprise Submission Portal</a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <span class="text-white header-text" >Micro Merchant Systems</span>
        </li>
      </ul>
    </div>

    <!-- User information and icon on the right -->
    <div class="d-flex flex-column bd-highlight text-light me-2">
      <small>test@testemail.com</small>
      <small>Micro Merchant System</small>
    </div>

    <div class="d-flex">
      <div class="text-light">
        <i class="bi bi-person-circle user-icon"></i>
      </div>
    </div>
  </div>
</nav>