<div class="container-fluid mt-3">
  <div class="row dashboard-topbar">
    <div class="col-md-12 bg-white p-2">
      <p class="m-0 ps-4 text-primary">Today's Submission Dashboard</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 total-pharmacies">
          <div class="widget-header">Total Pharmacies</div>
          <div class="total-pharmacies-count">3,777</div>
        </div>
        <div class="col-md-12 mt-3 file-recieved-status">
          <div class="widget-header">FILES RECEIVED STATUS</div>
          <div class="file-recieved-status-chart">Chart Here</div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4 " >
          <div class="bg-white px-2" style="height: 300px;">
            <div class="widget-header">File Gen Error Grouped Error Type</div>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Error</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Total</th>
                  <th>76</th>
                </tr>
                <tr>
                  <td class="text-danger">Operation Timeout</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td class="text-danger">Out of Memory</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td class="text-danger">File Not found</td>
                  <td>60</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-8 bg-white" style="height: 300px;">
          Right Top 2
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 " >
          <div class="bg-white px-2">
            <div class="widget-header">Received Not Submitted / Marked as Upload</div>
            <table class="table table-striped table-sm" style="font-size: 9pt;">
              <thead>
                <tr>
                  <th style="width: 15%;">File Name</th>
                  <th style="width: 10%;">NABP</th>
                  <th style="width: 40%;">Pharmacy Name</th>
                  <th><a href="#">Download All</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123564998888.dat</td>
                  <td>0308949</td>
                  <td>Sage Pharmacy</td>
                  <td><a href="#">Download</a>&nbsp;<a href="#">Mark Upload</a>&nbsp;<a href="#" class="text-danger">Error Detail</a></td>
                </tr>
                <tr>
                  <td>123564998888.dat</td>
                  <td>0357726</td>
                  <td>CHANDLER DRUGS</td>
                  <td><a href="#">Download</a>&nbsp;<a href="#">Mark Upload</a>&nbsp;<a href="#" class="text-danger">Error Detail</a></td>
                </tr>
                <tr>
                  <td>123564998888.dat</td>
                  <td>0359186</td>
                  <td>Medmetrics Pharmacy</td>
                  <td><a href="#">Download</a>&nbsp;<a href="#">Mark Upload</a>&nbsp;<a href="#" class="text-danger">Error Detail</a></td>
                </tr>
                <tr>
                  <td>123564998888.dat</td>
                  <td>0363452</td>
                  <td>ON THE GO Pharmacy</td>
                  <td><a href="#">Download</a>&nbsp;<a href="#">Mark Upload</a>&nbsp;<a href="#" class="text-danger">Error Detail</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bg-white px-2">
            <div class="widget-header">Generated but not uploaded pharmacy list</div>
            <table class="table table-striped table-sm" style="font-size: 9pt;">
              <thead>
                <tr>
                  <th style="width: 10%;">NABP</th>
                  <th style="width: 25%;">Pharmacy Name</th>
                  <th style="width: 10%;">State</th>
                  <th style="width: 20%;">Error Detail</th>
                  <th style="width: 35%;">next Steps</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0308949</td>
                  <td>Sage Pharmacy</td>
                  <td>NY</td>
                  <td class="text-danger">No admin Right></td>
                  <td>connect->Assign Right&nbsp;<a href="#">Show more</a></td>
                </tr>
                <tr>
                  <td>0357726</td>
                  <td>CHANDLER DRUGS</td>
                  <td>NY</td>
                  <td class="text-danger">No admin Right</td>
                  <td>connect->Assign Right&nbsp;<a href="#">Show more</a></td>
                </tr>
                <tr>
                  <td>0359186</td>
                  <td>Medmetrics Pharmacy</td>
                  <td>NY</td>
                  <td class="text-danger">No admin Right</td>
                  <td>connect->Assign Right&nbsp;<a href="#">Show more</a></td>
                </tr>
                <tr>
                  <td>0363452</td>
                  <td>ON THE GO Pharmacy</td>
                  <td>NY</td>
                  <td class="text-danger">No admin Right</td>
                  <td>connect->Assign Right&nbsp;<a href="#">Show more</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>